# Composer
composer.phar
*composer.phar
/vendor/
/.composer/

# Mac OS X
.DS_Store
*.DS_Store

# Git
.git
TOKEN

# Framework
/Definition/

# lib: exclude only .sh in lib root and the skeleton dir
/lib/*
!/lib/*.sh
!/lib/skeleton/
!/lib/skeleton/**

# Filetypes
*.cfg
*.log

# Exclude Files
!extensions.cfg
!requirement.cfg
!js.cfg
!css.cfg
# cli

# Exclude Locales Configurations and Translations
!Locale/*/*.cfg

# Unique Directories
/tmp/
/data/
/Install/
/env/
/.venv/

# Apache
.htaccess
/webroot/

# Backups
/backup/

# Example Files
/example/vendor/

# Custom Module Files

# Commit your application's lock file https://getcomposer.org/doc/01-basic-usage.md#commit-your-composer-lock-file-to-version-control
# You may choose to ignore a library lock file http://getcomposer.org/doc/02-libraries.md#lock-file
# composer.lock
.venv
rag_index.json
