AddType application/javascript .mjs

<IfModule mod_headers.c>
  RequestHeader unset Proxy
</IfModule>

<IfModule mod_rewrite.c>
  RewriteEngine on
  RewriteRule .* - [E=MOD_REWRITE:1]
  RewriteRule ^(\.well-known/.*)$ $1 [L]
  RewriteRule ^$ webroot/ [L]
  RewriteRule (.*) webroot/$1 [L]
</IfModule>
