AddType application/javascript .mjs

<IfModule mod_headers.c>
    RequestHeader unset Proxy
</IfModule>

<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteBase /

    # Forbid direct access to certain files
    RewriteRule ^(cli|\.htaccess)$ - [F,L]

    # Serve existing files, directories, or symlinks directly
    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d [OR]
    RewriteCond %{REQUEST_FILENAME} -l
    RewriteRule ^.*$ - [L]

    # Route endpoint.php/anything to endpoint.php
    RewriteRule ^endpoint\.php(.*)$ endpoint.php [QSA,L]

    # Everything else goes to index.php
    RewriteRule ^.*$ index.php [QSA,L]
</IfModule>